:root {
    --primary-dark: rgb(100, 19, 107);
    --primary-light: #a31b85;
    --secondary-dark: #df4e37b3;
    --secondary-light: #f37c7c;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border-box as compared to content-box is limited by the parents sizing */
  padding: 0;
  margin: 0;
}

body{
    background-color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

.header{
    font-size: 10px;
    background-color: var(--primary-light);
    color: var(--secondary-light);
    box-shadow: rgba(249, 253, 0, 0.985) 0px 0px 10px;
}

.user_space{
    display: flex;
}

.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: var(--secondary-light);
}

.grid_area{
    display: grid;
    margin: 10px;
    width: 1200px;
    height: 1200px;
    background-color: var(--secondary-light);
}

.grid_Element{
    background-color: var(--primary-light);
    margin: 5px;
    box-shadow: rgba(249, 253, 0, 0.944) 1px 1px 7px;
}

.scrollbar{
    background-color: aquamarine;
}

.footer{
    background-color: var(--primary-light);
    color: var(--secondary-light);
    font-size: 30px;
    margin-top: 50px;
    font-style: italic;
}
